@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Sofia Sans", sans-serif;
  /* background: linear-gradient(
    180deg,
    rgba(71, 245, 225, 0.216) 0%,
    rgba(71, 245, 222, 0) 100%
  ); */
  background-image: url(/pexels-no-name-66997.jpg);
  background-size: cover;
}
.navbg {
  background: linear-gradient(
    180deg,
    rgba(207, 223, 104, 0.381) 0%,
    rgba(71, 245, 222, 0.304) 100%
  );
  background-size: cover;
}
/* button css */

.btnhero {
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #fff200ae;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d7d279;
}

.btnhero:hover {
  background-color: rgba(190, 214, 10, 0.612);
}

.btnhero:active {
  background-color: #e7de32ae;
  box-shadow: 0 5px #d2d779;
  transform: translateY(4px);
}

.scroll-container {
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}